Repository Warcraft-GoA-Development-Team/Warcraft-Guardians-of-Azeroth, pull requests merged in 2021-05, with the labels that each got.

#1883 12th Patrons
  common/dynasties/125000_patron_dynasties.txt
  history/characters/310000_patron_characters.txt
  history/titles/c_dawnstar.txt
  history/titles/c_magisters_terrace.txt
  history/titles/d_queldanas_isle.txt
Labels: :exclamation: priority critical, :star: new feature :new:

#1858 Nazjatar artifacts
  common/artifacts/901_wc_artifacts_weapon_onehanded.txt
  common/artifacts/901_wc_artifacts_weapon_twohanded.txt
  common/artifacts/908_wc_artifacts_relic.txt
  common/modifier_definitions/wc_opinion_modifier_definitions.txt
  gfx/interface/inventory/artifacts/eternal_bouquet.dds
  gfx/interface/inventory/artifacts/eternal_bouquet_small.dds
  gfx/interface/inventory/artifacts/naga_mace.dds
  gfx/interface/inventory/artifacts/naga_mace_small.dds
  gfx/interface/inventory/artifacts/naga_scepter.dds
  gfx/interface/inventory/artifacts/naga_scepter_small.dds
  gfx/interface/inventory/artifacts/naga_scimitar.dds
  gfx/interface/inventory/artifacts/naga_scimitar_small.dds
  gfx/interface/inventory/artifacts/naga_trident.dds
  gfx/interface/inventory/artifacts/naga_trident_small.dds
  gfx/interface/inventory/artifacts/queens_decree.dds
  gfx/interface/inventory/artifacts/queens_decree_small.dds
  gfx/interface/inventory/artifacts/statue_of_azshara.dds
  gfx/interface/inventory/artifacts/statue_of_azshara_small.dds
  gfx/interface/inventory/artifacts/taxidermied_murloc.dds
  gfx/interface/inventory/artifacts/taxidermied_murloc_small.dds
  gfx/interface/inventory/artifacts/tidestone.dds
  gfx/interface/inventory/artifacts/tidestone_small.dds
  interface/wc_treasury.gfx
  localisation/00_wc_artifact_localisation.csv
  localisation/00_zuwc_united_localisation.csv
Labels: :art: 2D graphics :paintbrush:, :exclamation: priority high, :star: new feature :new:

#1860 24th Small Improvments
  common/game_rules/000_wc_game_rules.txt
  common/scripted_triggers/wc_faction_scripted_triggers.txt
  localisation/00_zuwc_united_localisation.csv
Labels: :balance_scale: balance :balance_scale:, :grey_exclamation: priority medium, :star: new feature :new:
